@charset "UTF-8";

/* アカウント設定
   
   各設定項目を、奇数行(.oddRow)と偶数行(.evenRow)で色分け
   各行は、左(.leftRow)と右(.rightRow)にして float で横に並べる
 */

html {
	height: 100%;
}

body {
	background-image: url("/teamb/img/form/back.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #464646;
	font-family: 'メイリオ', 'Hiragino Kaku Gothic Pro', sans-serif;
	background-color: #edede3;/*ページ背景*/
	margin: 0;
	height: 100%;
}

/*【ページ上の罫線】*/
article	{
	background-color: #ffffff;
	width: 900px;/*ページ罫線の幅*/
	margin-top: 50px;/*ページの上から*/
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
	border: solid 1px #aaaaaa;
	padding: 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-shadow: 1px 1px 3px #aaaaaa;
	box-shadow: 1px 1px 3px #aaaaaa;
	border-radius: 20px;
	overflow: hidden;
}

/*【アイコン】*/
img {
	width: 150px;
	height: 150px;
	border: 1px solid;
}

/* 奇数行 */
.oddRow {
	background-color: #ddd;
	overflow: hidden;
}

/* 偶数行 */
.evenRow {
	border: solid 1px #ddd;
	overflow: hidden;
}

/* 左 IDとかの説明 */
.leftRow {
	float: left;
	width: 200px;
}

/* 右 IDとかの値 */
.rightRow {
	float: left;
}

/* 設定変更ボタン */
#submitButton {
	width: 70%;
	height: 80px;
	font-family: 'メイリオ', 'Hiragino Kaku Gothic Pro', sans-serif;
	font-size: 2em;
	margin: 10px;
}

/* エラーメッセージ */
.errorMsg {
	color: red;
}

/*-----------------------------------------------------------
 * map用のstyle
 * ----------------------------------------------------------*/
.mapField{
	width : 100%;
}
.controls{
	margin-top: 16px;
	border: 1px solid transparent;
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 32px;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
/* 設定変更ボタン */
.setting-button {
   border: 1px solid #447314;
   background: #6aa436;
   background-image: -ms-linear-gradient(top, #8dc059 0%, #6aa436 100%);
   border-radius: 4px;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #addc7e 0 1px 0;
   font-family:'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
   color: white;
   font-weight: normal;
   font-size: 100%;
   text-decoration: none;
   vertical-align: middle;
	width: 100px;/*ボタンの幅*/
	height: 30px;/*ボタンの縦*/
	margin-top: 10px;
}
#mapTextField{
	background-color: #fff;
	padding: 0 11px 0 13px;
	width: 400px;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	text-overflow: ellipsis;
}

#mapTextField:focus{
	border-color: #4d90fe;
	margin-left: -1px;
	padding-left: 14px;  /* Regular padding-left + 1. */
	width: 401px;
}

#map{
	width : 500px;
	height: 400px;
}
