@charset "UTF-8";

/* 投稿詳細
   
   タイムラインの画像(class="photoImg")をクリックしたときに、
   detail.js の処理によって表示する
   
   投稿詳細を目立たせるために、半透明の黒い画面(#cover)を全体にかぶせる
   その黒い画面は z-index の値を 1 にしている
   その上に投稿詳細(#postDetail)をかぶせる
   投稿詳細は z-index が 2 なので、黒い画面よりは手前に表示される
   
   黒い画面は、幅も高さも 100% にして、スクロールしてもついてくる
   transition でゆっくり出たり消えたりする
   
   投稿詳細は、タイムラインの画像をクリックしたときの画面のスクロール位置に合わせて
   表示位置を変えるように、detail.js の処理で margin-top の値を変えている
   
   メインの写真とサブの写真があり、
   サブの写真をクリックしたときに detail.js の処理で入れ替える
   この時に transition でゆっくり入れ替えるようにしている
 */

/* 投稿詳細表示時に背景を暗くする */
#cover {
	position: fixed !important;
	top: 40px;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.6;
	z-index: 1;
	visibility: hidden;
	transition: opacity 200ms linear 0, visibility 200ms linear 0;
}

/* 投稿詳細下地 */
#postDetail {
	position: absolute;
	top: 40px;
	width: 100%;
	z-index: 2;
	visibility: hidden;
}

/* 投稿詳細 */
#articleDetail {
	width: 700px;
	margin-top: 20px;
	padding: 20px;
	text-align: left;
}

/* 投稿詳細を閉じるボタン */
#closeDetail {
	width: 30px;
	height: 30px;
	background-color: #777;
	color: white;
	float: right;
	text-align: center;
	line-height: 30px;
}

/* スクロール */
#detailScroll {
	clear: both;
	overflow: scroll;
}
#detailScroll::-webkit-scrollbar {
	overflow: hidden;
	width: 5px;
}
#detailScroll::-webkit-scrollbar-thumb {
	overflow: hidden;
	border-radius: 3px;
	background: #777;
}

/* 投稿写真 投稿詳細表示 */
#mainImgDiv {
	clear: both;
	width: 100%;
	height: 300px;
}

/* メインの投稿写真 */
#detailPhoto {
	width: 100%;
	height: 100%;
	text-align: center;
}
#photo0 {
	height: 100%;
	width: auto;
	max-width: 100%;
	transition: opacity 100ms linear 0;
}

/* 地図 */
#detailMap {
	width: 100%;
	height: 100%;
}

/* メイン以外の投稿写真のdiv */
#subImgDiv {
	text-align: center;
}

/* メイン以外の投稿写真 */
.subImg {
	width: 150px;
	height: 75px;
	cursor: pointer;
	display: none;
}

/* 投稿文 */
.msgDetail {
	margin: 5px 5px 0px 5px;
}

/* コメントの固まり */
.comSet {
	clear: both;
	overflow: auto;
	border: solid 1px #ccc;
	margin: 1px;
	padding: 1px;
}

/* コメント */
.msgCom {
	margin-left: 30px;
	float: left;
}

/* エラーメッセージ */
.errorMsg {
	color: red;
}

/* 地図ボタン */
#changeMapButton {
	float: left;
}

/*投稿ボタン*/
.post_button{
	border: 1px solid #447314;
	background: #6aa436;
	background-image: -ms-linear-gradient(top, #8dc059 0%, #6aa436 100%);
	border-radius: 4px;
	box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
	text-shadow: #addc7e 0 1px 0;
	font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
	color: white;
	font-weight: normal;
	font-size: 100%;
	text-decoration: none;
	vertical-align: middle;
	width: 70px;
	height: 25px;
}
