@charset "UTF-8";

/* 投稿編集・削除
   
   写真は、1枚目のメインだけ大きく表示
 */

html {
	height: 100%;
}

body {
	background-image: url("/teamb/img/form/back.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #464646;
	font-family: 'メイリオ', 'Hiragino Kaku Gothic Pro', sans-serif;
	background-color: #edede3;/*ページ背景*/
	margin: 0;
	height: 100%;
}

/*【ページ上の罫線】*/
article	{
	background-color: #ffffff;
	width: 900px;/*ページ罫線の幅*/
	margin-top: 50px;/*ページの上から*/
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
	border: solid 1px #aaaaaa;
	padding: 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-shadow: 1px 1px 3px #aaaaaa;
	box-shadow: 1px 1px 3px #aaaaaa;
	border-radius: 20px;
	overflow: hidden;
}

/* 写真 */
img {
	width: 130px;
	height: 65px;
	border: 1px solid;
}

/* 1枚目の写真 */
img.mainImg {
	width: 500px;
	height: 200px;
	border: 1px solid;
}

/* それぞれの行 */
.row {
	margin: auto;
	width: 70%;
	border: solid 1px #ddd;
}



/* 削除ボタン */
#deleteButton {
	color: red;
	width: 70%;
	height: 80px;
	font-family: 'メイリオ', 'Hiragino Kaku Gothic Pro', sans-serif;
	font-size: 2em;
	margin: 10px;
}

/* 編集ボタン */
.edit-button {
   border: 1px solid #447314;
   background: #6aa436;
   background-image: -ms-linear-gradient(top, #8dc059 0%, #6aa436 100%);
   border-radius: 4px;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #addc7e 0 1px 0;
   font-family:'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
   color: white;
   font-weight: normal;
   font-size: 100%;
   text-decoration: none;
   vertical-align: middle;
	width: 100px;/*ボタンの幅*/
	height: 30px;/*ボタンの縦*/
	margin-left: 500px;
	margin-top: 10px;
}
/* 削除ボタン */
.delete-button {
   border: 1px solid #447314;
   background: #6aa436;
	background-color: #E72121;
   border-radius: 4px;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #addc7e 0 1px 0;
   font-family:'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
   color: white;
   font-weight: normal;
   font-size: 100%;
   text-decoration: none;
   vertical-align: middle;
	width: 100px;/*ボタンの幅*/
	height: 30px;/*ボタンの縦*/
	margin-left: 610px;
	margin-top: -55px;
}
/*-----------------------------------------------------------
 * map用のstyle
 * ----------------------------------------------------------*/

#editMapTextField{
	background-color: #fff;
	padding: 0 11px 0 13px;
	width: 400px;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	text-overflow: ellipsis;
}

#editMapTextField:focus{
	border-color: #4d90fe;
	margin-left: -1px;
	padding-left: 14px;  /* Regular padding-left + 1. */
	width: 401px;
}

#editMap{
	width : 100%;
	height: 400px;
}
