@charset "UTF-8";

/* フォロー/フォロワーリスト フォローリクエスト
   
   承認ボタン(.okBtn)を押すと合体承認ボタン(.okBigBtn)、
   拒否ボタン(.ngBtn)を押すと合体拒否ボタン(.ngBigBtn)になる
 */

/*【ユーザーアイコン】*/
figure.userSearch {
	margin: 0;
	margin-left:10px;
	float: left;
}

/*【ユーザーアイコンのサイズ】*/
figure.userSearch img{
	width: 150px;
	height: 150px;
	border: solid 1px;
}

/* ユーザー */
.userDiv {
	clear: left;
}

/* ユーザーID */
.user-id {
	margin-left: 30px;
	float: left;
}

/* 紹介文 */
.profile {
	margin: 10px 0px 0px 30px;
	float: left;
	max-width: 340px;
}

/* 承認ボタン */
.okBtn {
	clear: left;
	float: left;
	width: 50%;
	margin-bottom: 20px;
	font-size: 3em;
	background: #6aa436;
	color: white;
}

/* 拒否ボタン */
.ngBtn {
	float: left;
	width: 50%;
	margin-bottom: 20px;
	font-size: 3em;
	background: #E72121;
	color: white;
}

/* 合体承認ボタン */
.okBigBtn {
	clear: left;
	float: left;
	width: 100%;
	margin-bottom: 20px;
	font-size: 3em;
}

/* 合体拒否ボタン */
.ngBigBtn {
	clear: left;
	float: left;
	width: 100%;
	margin-bottom: 20px;
	font-size: 3em;
	color: red;
}
