@charset "UTF-8";
/*@import url(http://fonts.googleapis.com/css?family=Chango);*/

/* ヘッダ
   
   画面の上部に固定している
   半透明なので、重なった時に上になるように、
   z-index の数値を高くしている
   
   画像ボタンと、
   それをクリックしたときに下に出る画面(ヘッダダイアログ)がある
   
   画像ボタンは background-image で
   上下に 2種類並んだ画像を指定している
   普段は上の画像で、マウスオーバーで下の画像に切り替える
   
   アカウントボタンから右のボタンは、画面の右にくっつくように、
   position: absolute; にして、
   left を指定せずに right だけ指定している
   
   画面の幅によって、ランキングボタンとアカウントボタンの間を変えるが、
   画面の幅が小さくて、ランキングボタンとアカウントボタンの間がなくなって
   重なってしまわないように、最低限の幅は確保しておく
 */

body {
	min-width: 1130px; /* 最低確保する幅 */
}

body.noscroll {
  position: fixed;
  overflow-y: scroll;
}

h1 {
	font-size: 38px;
	margin-top: 0;
	margin-bottom: 0;
}

#header {
	position: fixed; /* 上に固定 */
	top: 0;
	left: 0;
	min-width: 1126px; /* 最低確保する幅 */
	width: 100%;/*ヘッダーの幅*/
	height: 40px;
	background-color: black;
	opacity: 0.7; /* 透明度 */
	z-index: 8;   /* グーグルマップと重なった時に上になるように */
}

/* ロゴ */
#logoDiv {
	position: absolute;
	left: 0px;
	width: 150px;
	height: 40px;
}
#logoImg {
	width: 100%;
	height: 100%;
	
	/* 画像全体にボーダーをつける css があっても、
	   ロゴにはつけたくないので、
	   ボーダーをつけないことを明示しておく
	 */
	border: none;
}

/*【ホームボタン】*/
#homeButton {
	position: absolute;
	left: 160px;
	width: 115px;
	background-image: url("/teamb/img/header/home.png");
}

/*【投稿ボタン】*/
#postButton {
	position: absolute;
	left: 280px;
	width: 115px;
	background-image: url("/teamb/img/header/post.png");
}

/*【タイムラインボタン】*/
#timelineButton {
	position: absolute;
	left: 400px;
	width: 137px;
	background-image: url("/teamb/img/header/timeline.png");
}

/*【検索ボタン】*/
#searchButton {
	position: absolute;
	left: 550px;
	width: 137px;
	background-image: url("/teamb/img/header/search.png");
}

/*【ランキングボタン】*/
#rankingButton {
	position: absolute;
	left: 700px;
	width: 137px;
	background-image: url("/teamb/img/header/ranking.png");
}

/*【アカウントボタン】*/
#accountButton {
	position: absolute;
	right: 155px;
	width: 137px;
	background-image: url("/teamb/img/header/account.png");
}

/*【設定ボタン】*/
#settingButton {
	position: absolute;
	right: 0px;
	width: 137px;
	background-image: url("/teamb/img/header/setting.png");
}

/* ヘッダーのボタン */
.headerButton {
	height: 40px;
	cursor: pointer;
}
.headerButton:hover {
	background-position:left bottom; /* カーソルがのったら下の画像に切り替える */
}

header h1 {
	/*font-family: 'Chango', cursive;*/
	font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro',
	 メイリオ, Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
	font-size: 24px;
	width: 900px;
	margin-left: auto;
	margin-right: auto;
}

/* ヘッダダイアログ */
#headerDialog {
	position: fixed !important;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 7;
	visibility: hidden;
	transition: visibility 200ms linear 0;
}
#headerDialogContent {
	position: fixed !important;
	top: 25%;
	left: 25%;
	width: 50%;
	height: 50%;
	background-image: url("/teamb/img/header/dialogblack.png");
	background-size: 100% 100%;
	opacity: 0;
	transition: opacity 200ms linear 0;
}

/* ヘッダダイアログのボタン */
.headerDialogButton {
	position: absolute;
	top: 5%;
	width: 40%;
	height: 80%;
	background-size: 100% 200%;
	cursor: pointer;
	visibility: hidden;
	opacity: 0;
	transition: visibility 200ms linear 0, opacity 200ms linear 0;
}
.headerDialogButton:hover {
	background-position:left bottom; /* カーソルがのったら下の画像に切り替える */
}
.headerDialogButtonLeft {
	left: 5%;
}
.headerDialogButtonRight {
	right: 5%;
}

/*【友達閲覧ボタン】*/
#friendButton {
	background-image: url("/teamb/img/header/friend.png");
}

/*【地図指定ボタン】*/
#mapButton {
	background-image: url("/teamb/img/header/map.png");
}

/*【アカウント設定ボタン】*/
#accountSettingButton {
	background-image: url("/teamb/img/header/accountsetting.png");
}

/*【ログアウトボタン】*/
#logoutButton {
	background-image: url("/teamb/img/header/logout.png");
}

.fixed_sidebar {
	position: fixed;
	top: 20px;
	width: 315px;
}
