@charset "UTF-8";

/* ログイン画面 */

html {
	height: 100%;
}

body {
	background-color: black;
	font-family: Arial, 'メイリオ', sans-serif;
	font-weight: bold;
	color: white;
	margin: 0;
	height: 100%;
}

hr {
	transform: translate(0, -12px);
	margin: 0;
	border-top: 1px;
	height: 1px;
	color: white;
}

/* 画面全体を div で囲んで絶対位置指定で重ねる */
.absDiv {
	position: absolute;
	width: 100%;
	height: 100%;
}

/* 背景画像 */
.backImage {
	text-align: center;
	background-size: cover;
	background-position: center;
	z-index: 1;
	opacity: 0;
	transition-duration: 800ms;
}
#back0 {
	background-image: url(/teamb/img/login/citybench.jpg);
}
#back1 {
	background-image: url(/teamb/img/login/airplane.jpg);
}
#back2 {
	background-image: url(/teamb/img/login/cydneyharbor.jpg);
}

/* 背景画像以外の div */
#front0 {
	z-index: 3;
}

/* 言葉 */
.words {
	position: absolute;
	width: 500px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -55%);
	z-index: 2;
	font-size: 5em;
	opacity: 0;
	transition-delay: 800ms;
	transition-duration: 3000ms;
}

/* サブの言葉 */
.subWords {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 80%);
	z-index: 2;
	font-size: 2em;
	opacity: 0;
	transition-delay: 2000ms;
	transition-duration: 800ms;
}

/* スマートフォン版へ Sign up Log in */
#miniMenuDiv {
	padding: 0.5em;
}
.miniMenu {
	font-size: 0.8em;
	font-weight: normal;
	color: white;
	text-decoration: none;
	cursor: pointer;
}
.miniMenu:hover {
	color: #ccc;
}

/* 右寄り */
.floatRight {
	float: right;
	margin-right: 1em;
}

/* エラーメッセージ */
#error {
	color: #fbb;
	padding: 0.5em;
}

/* 左ボタン */
#leftButton {
	position: absolute;
	top: 50%;
	left: 5%;
	transform: translate(-50%, -50%);
	width: 75px;
	height: 50px;
	background-size: 125% 100%;
	transition-duration: 500ms;
	background-image: url(/teamb/img/login/leftarrow.png);
}
#leftButton:hover {
	background-position: right top;
}

/* 右ボタン */
#rightButton {
	position: absolute;
	top: 50%;
	left: 95%;
	transform: translate(-50%, -50%);
	width: 75px;
	height: 50px;
	background-size: 125% 100%;
	transition-duration: 500ms;
	background-image: url(/teamb/img/login/rightarrow.png);
	background-position: right top;
}
#rightButton:hover {
	background-position: left top;
}

/* 現在の背景画像を表す丸 */
.dots {
	position: absolute;
	left: 95%;
	transform: translate(-50%, -50%);
	width: 20px;
	height: 20px;
	background-size: 100% 200%;
	background-image: url(/teamb/img/login/dot.png);
}
#dot0 {
	top: 10%;
}
#dot1 {
	top: 15%;
}
#dot2 {
	top: 20%;
}

/* ログイン 新規登録 div */
.appearDiv {
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 330px;
	padding: 20px 10px;
	background-size: 100% 100%;
	text-align: center;
	opacity: 0;
	visibility: hidden;
	transition-duration: 800ms;
}
/* 新規登録 div */
#signUpDiv {
	background-image: url(/teamb/img/login/signupdialog.png);
}
/* ログイン div */
#logInDiv {
	background-image: url(/teamb/img/login/logindialog.png);
}

/*入力フォーム*/
.form-field {
   background: #FFFFFF;
   border-radius: 4px;
   color: #000000;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   padding:6px;
   margin-bottom:10px;
   width:280px;
}

/* エラー */
.error {
	background: #fbb;
}

/*ボタン*/
.submit-button {
   border: 1px solid #447314;
   background: #6aa436;
   background-image: -ms-linear-gradient(top, #8dc059 0%, #6aa436 100%);
   border-radius: 4px;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #addc7e 0 1px 0;
   font-family:'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
   color: #31540c;
   padding: 8.5px 18px;
   font-size: 100%;
   text-decoration: none;
   vertical-align: middle;
}

/*ボタンにマウスが乗ったとき*/
.submit-button:hover {
   border: 1px solid #447314;
   text-shadow: #31540c 0 1px 0;
   background: #6aa436;
   background-image: -ms-linear-gradient(top, #8dc059 0%, #6aa436 100%);
   color: #fff;
}
