@charset "UTF-8";

/* 写真投稿
   
   写真選択ボタンとプレビューのまとまり(.picSet)は、
   最初は 1つだけ表示して、残りの 4つは非表示にするため
   display を none にしている
   post.js の処理で display を block にして表示する
 */

/*【投稿画面のダイアログの罫線】*/
#post_article{
	width: 600px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	/*border-radius: 20px;*/
	overflow: hidden
}

/* 詳細時に背景を暗くする */
#postCover {
	position: fixed !important;
	top: 40px;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.6;
	z-index: 5;
	visibility: hidden;
	transition: opacity 200ms linear 0, visibility 200ms linear 0;
}

/* 写真投稿画面 */
#postDialog {
	position: absolute;
	top: 40px;
	width: 50%;
	z-index: 6;
	left: 25%;
	visibility: hidden;
}

/* 詳細検索画面 */
#setting_article{
	width: 600px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	/*border-radius: 20px;*/
	overflow: hidden
}
#settingCover {
	position: fixed !important;
	top: 40px;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.6;
	z-index: 3;
	visibility: hidden;
	transition: opacity 200ms linear 0, visibility 200ms linear 0;
}
#settingDialog {
	position: absolute;
	top: 60px;
	width: 50%;
	z-index: 4;
	visibility: hidden;
	left: 25%;
	background-color:white;
}

/* 写真選択 */
#postDialogFileSelect {
	position: absolute;
	width: 600px;
	background-color: white;
	padding: 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow: scroll;
	opacity: 0;
	transform: translate(50%, 0) rotateY(90deg);
	transition-duration: 500ms;
}
#postDialogFileSelect::-webkit-scrollbar {
	overflow: hidden;
	width: 5px;
}
#postDialogFileSelect::-webkit-scrollbar-thumb {
	overflow: hidden;
	border-radius: 3px;
	background: #777;
}

/* 地図選択 */
#postDialogMapSelect {
	position: absolute;
	width: 600px;
	background-color: white;
	padding: 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow: scroll;
	opacity: 0;
	transform: translate(50%, 0) rotateY(90deg);
	transition-duration: 500ms;
}
#postDialogMapSelect::-webkit-scrollbar {
	overflow: hidden;
	width: 5px;
}
#postDialogMapSelect::-webkit-scrollbar-thumb {
	overflow: hidden;
	border-radius: 3px;
	background: #777;
}

/* 写真投稿 */
.picSet {
	overflow: hidden;
	clear: left;
	display: none;
}

/* 写真のプレビュー */
.preview {
	float: left;
}

/* 投稿ボタン */
.submit-button {
   border: 1px solid #447314;
   background: #6aa436;
   background-image: -ms-linear-gradient(top, #8dc059 0%, #6aa436 100%);
   border-radius: 4px;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #addc7e 0 1px 0;
   font-family:'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
   color: white;
   font-weight: normal;
   font-size: 100%;
   text-decoration: none;
   vertical-align: middle;
	width: 100px;/*ボタンの幅*/
	height: 30px;/*ボタンの縦*/
	margin-left: 380px;
	margin-top: -50px;
}
/* 戻るボタン */
.back-button {
   border: 1px solid #447314;
   background: #6aa436;
   background-image: -ms-linear-gradient(top, #8dc059 0%, #6aa436 100%);
   border-radius: 4px;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #addc7e 0 1px 0;
   font-family:'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
   color: white;
   font-weight: normal;
   font-size: 100%;
   text-decoration: none;
   vertical-align: middle;
	width: 100px;/*ボタンの幅*/
	height: 30px;/*ボタンの縦*/
	margin-left: 10px;
	margin-top: 10px;
}
/* 次へのボタン */
.next-button {
   border: 1px solid #447314;
   background: #6aa436;
   background-image: -ms-linear-gradient(top, #8dc059 0%, #6aa436 100%);
   border-radius: 4px;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #addc7e 0 1px 0;
   font-family:'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
   color: white;
   font-weight: normal;
   font-size: 100%;
   text-decoration: none;
   vertical-align: middle;
	width: 100px;/*ボタンの幅*/
	height: 30px;/*ボタンの縦*/
	/*margin-left: 40px;
	margin-top: 10px;*/
}
/* エラーメッセージ */
.errorMsg {
	color: red;
}

/*-----------------------------------------------------------
 * map用のstyle 投稿用
 * ----------------------------------------------------------*/
#postMapField{
	width : 100%;
	height: 80%;
}

#postMapTextField{
	background-color: #fff;
	padding: 0 11px 0 13px;
	width: 400px;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	text-overflow: ellipsis;
}

#postMapTextField:focus{
	border-color: #4d90fe;
	margin-left: -1px;
	padding-left: 14px;  /* Regular padding-left + 1. */
	width: 401px;
}

#postMap{
	width : 486px;
	height: 320px;
}
.box{
	border: inset 1px #ff0000;
}
