@charset "UTF-8";

/* ランキング */

html {
	height: 100%;
}

/*【HTMLタグ全体のレイアウト】*/
body {
	background-size: cover;
	background-image: url("/teamb/img/form/back.jpg");
	font-family: 'メイリオ', 'Hiragino Kaku Gothic Pro', sans-serif;
	background-color: #edede3;/*ページ背景*/
	margin: 0;
	background-attachment: fixed; /* スクロールしてもついてくる */
	height: 100%;
}

/*【ページ上の罫線】*/
article	{
	background-color: #ffffff;
	width: 900px;/*ページ罫線の幅*/
	margin-top: 50px;/*ページの上から*/
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
	border: solid 1px #aaaaaa;
	padding: 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-shadow: 1px 1px 3px #aaaaaa;
	box-shadow: 1px 1px 3px #aaaaaa;
	border-radius: 20px;
	overflow: hidden
}

/*【アイコン・投稿・写真の罫線】*/
.keisen{
	background-color: #ffffff;
	height: 100%;
	width: 80%;
	border: solid 1px #aaaaaa;
	padding: 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-shadow: 1px 1px 3px #aaaaaa;
	box-shadow: 1px 1px 3px #aaaaaa;
	border-radius: 20px;
	float: left;
	overflow: hidden
}

/*  ランキングのタイトル*/
#rankTitle {
	text-align: center;
	font-size: 2em;
}

/* 前の10位 */
.prev10 {
	clear: both;
	float: left;
}

/* 次の10位 */
.next10 {
	float: right;
}

/* 奇数行 */
.oddRow {
	background-color: #ddd;
	overflow: hidden;
	clear: both;
}

/* 偶数行 */
.evenRow {
	border: solid 1px #ddd;
	overflow: hidden;
	clear: both;
}

/* 順位 */
.rankNum {
	clear: left;
	float: left;
	font-size: 2.5em;
	width: 20%;
	padding: 10px;
	line-height: 90px;
}

/* 順位の右のユーザー */
.rankUser {
	float: left;
	width: 70%;
	font-size: 0.7em;
}

/* 位 */
.rank {
	font-size: 0.7em;
}

/* pt */
.pt {
	font-size: 0.4em;
}

/*【ユーザーアイコン】*/
figure.user_photo_left {
	margin: 0;
	float: left;
}

/*【ユーザーアイコンのサイズ】*/
figure.user_photo_left img{
	width: 45px;
	height: 45px;
	border: solid 1px;
}

/*【文章のユーザー名】*/
.user-name{
	margin-left: 30px;
	float: left;
}

/*【投稿日時】*/
.postDate{
	margin-right: 10px;
	float: right;
}

/*【文章】*/
.document{
	clear: right;
	margin-left: 77px;
}

/*投稿写真*/
.postphoto{
	width: 100%;
	height: 160px;
	float:left;
	margin-bottom: 10px;
	clear: both;
	text-align: center;
}

/* タイムラインの写真 */
.photoImg {
	height: 100%;
	width: auto;
	max-width: 100%;
	cursor: pointer;
}

/* Good_Bad */
.Good_Bad {
	text-align: right;
	margin: 0px 10px 0px 0px;
}

/* Good */
.good {
	margin: 0px 4px;
	color: blue;
}
/* Bad */
.bad {
	margin: 0px 4px;
	color: red;
}

/* 過去ランキング選択 */
.pastSelect {
	right: 50px;
	position:fixed;
	width: 20%;
	text-align: center;
	background-color: #ffffff;
	height: 80%;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
	border: solid 1px #aaaaaa;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-shadow: 1px 1px 3px #aaaaaa;
	box-shadow: 1px 1px 3px #aaaaaa;
	border-radius: 20px;
	overflow: auto;
	font-size:1.4m;
}
