@charset "UTF-8";

/* 検索
   
   ユーザー検索結果のみ
   タグ検索結果は style.css のものを利用
 */

/*【ユーザーアイコン】*/
figure.userSearch {
	margin: 0;
	margin-left:10px;
	float: left;
}

/*【ユーザーアイコンのサイズ】*/
figure.userSearch img{
	width: 150px;
	height: 150px;
	border: solid 1px;
}

/* ユーザー */
.userDiv {
	clear: left;
}

/* ユーザーID */
.user-id {
	margin-left: 30px;
	float: left;
}

/* 紹介文 */
.profile {
	margin: 5px 0px 0px 30px;
	float: left;
	max-width: 340px;
}
/* 検索ボタン */
.search-button {
   border: 1px solid #447314;
   background: #6aa436;
   background-image: -ms-linear-gradient(top, #8dc059 0%, #6aa436 100%);
   border-radius: 4px;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #addc7e 0 1px 0;
   font-family:'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
   color: white;
   font-weight: normal;
   font-size: 100%;
   text-decoration: none;
   vertical-align: middle;
	width: 70px;/*ボタンの幅*/
	height: 25px;/*ボタンの縦*/
}

/* ユーザー検索結果 */
#users {
	display: none;
}

/* タグ検索結果 */
#posts {
	display: none;
}
