/*
【.で始まるのはclass】
・HTML仕様例：<タグ　class="クラスネーム">】
【#で始まるのはid】
・HTML仕様例：<タグ　id="クラスネーム">】
【それ以外ではじまる 例:（body）はタグに直接反映される】
・HTML仕様例：<タグ>】
*/

/*@import url(http://fonts.googleapis.com/css?family=Chango);*/
@charset "UTF-8";
/*------------------------------------------------------------------------------------------------------------------------------------------------
' スタイル部分:タグx
' 機能 :タグに直接書く場合はここを使ってくれ
'------------------------------------------------------------------------------------------------------------------------------------------------*/

html {
	height: 100%;
}

/*【HTMLタグ全体のレイアウト】*/
body {
	font-family:'Lucida Grande','Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3',Meiryo, メイリオ, sans-serif;
	/*background-color: #edede3;*/
	/*背景*/
	background-image: url("/teamb/img/form/back.jpg");
	background-size:cover;
	margin: 0;
	background-attachment: fixed;
	height: 100%;
}

/*【h1タグ全体のレイアウト】*/
h1	{font-size: 38px;
	margin-top: 0;
	margin-bottom: 0}

p	{line-height: 1.5}

/*【フッター】*/
footer	{width: 900px;
	margin-left: auto;
	margin-right: auto;
	clear: both}

/*【画像の表示をまるくする】*/
.border_radius {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
}
/*------------------------------------------------------------------------------------------------------------------------------------------------
' スタイル部分:id
' 機能 :idに直接書く場合はここを使ってくれ
'------------------------------------------------------------------------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------------------------------------------------------------------------
' スタイル部分:class
' 機能 :classに直接書く場合はここを使ってくれ
'------------------------------------------------------------------------------------------------------------------------------------------------*/

/*【オススメタグ】*/
.tag_text{
	margin: 0;
	margin-left: 10px;
	float: left
}
.rTagNo {
	clear: left;
	float: left;
}
.rTag {
	/* 青文字 下線 マウスカーソルを変える */
	color: blue;
	text-decoration: underline;
	cursor: pointer;
	
	float: left;
	max-width: 100%;
	margin-bottom: 10px;
}

/*【ページ上の罫線】*/
article	{
	/*背景画像*/
	width: 1000px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
	padding: 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*【投稿】*/
.text_box {
	margin: 0;
	margin-left: 110px;
}

/*【アイコン・投稿・写真の罫線】*/
.keisen{
	background-color: #ffffff;
	height: 100%;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
	border: solid 1px #aaaaaa;
	padding: 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-shadow: 1px 1px 3px #aaaaaa;
	box-shadow: 1px 1px 3px #aaaaaa;
	border-radius: 20px;
	overflow: hidden;
}

.keisenhome{
	background-color: #ffffff;
	height: 100%;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
	border: solid 1px #aaaaaa;
	padding: 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-shadow: 1px 1px 3px #aaaaaa;
	box-shadow: 1px 1px 3px #aaaaaa;
	border-radius: 20px;
	overflow: hidden;
}

/*【画像を中央に配置するレイアウト】*/
figure.photo-center {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;}

/* 【アイコン】*/
figure.photo-left {margin: 0;
	margin-left: 30px;
	float: left}

/*【アイコンのサイズ】*/
figure.photo-left img {
	width: 100px;
	height: 100px;
}

/*【テキストを左に表示する】*/
figure.text-left {
	margin: 0;
	margin-left: 30px;
	float: left}

/*【ユーザーアイコン】*/
figure.user_photo_left {
	margin: 0;
	margin-left:10px;
	float: left
}

/*【ユーザーアイコンのサイズ】*/
figure.user_photo_left img{
	width: 50px;
	height: 50px;
	border: solid 1px;
}

/*【文章のユーザー名】*/
.user-name{
	margin-left: 30px;
	float: left;
}

/*【投稿日時】*/
.postDate{
	margin-right: 10px;
	float: right;
}

/*【文章】*/
.document{
	clear: right;
	margin-left: 92px;
}

/*投稿写真*/
.postphoto{
	clear: both;
	max-width: 40%;
    height: auto;
	margin:0 auto;
}

/*Good_Bad_Coment*/
.Good_Bad_Coment{
	text-align: right;
	margin: 0px 10px 0px 0px;
}

/* 評価ボタンとコメントボタン */
.evaluateDiv {
	clear: both;
	height: 38px;
	margin-bottom: 10px;
	cursor: pointer;
	background-image: url("/teamb/img/form/grad.png");
	background-size: 100% 100%;
}

/* Good ボタン */
.goodButton {
	float: left;
	width: 33%;
	height: 100%;
	background-image: url("/teamb/img/form/good.png");
	background-size: 100% 200%;
	border-right: 1px solid #a6a6a6;
}

/* Bad ボタン */
.badButton {
	float: left;
	width: 33%;
	height: 100%;
	background-image: url("/teamb/img/form/bad.png");
	background-size: 100% 200%;
	border-right: 1px solid #a6a6a6;
}

/* Good / Bad ボタンが押されているとき */
.isEvaluated {
	background-position:left bottom;
}

/* コメントボタン */
.commentButton {
	float: left;
	width: 33%;
	height: 100%;
	background-image: url("/teamb/img/form/comment.png");
	background-size: 100% 100%;
}

/* Good_Bad
 投稿詳細表示用
 */
.Good_Bad {
	text-align: right;
	margin: 0px 10px 0px 0px;
}

/* Good */
.good {
	margin: 0px 4px;
	color: blue;
}
/* Bad */
.bad {
	margin: 0px 4px;
	color: red;
}
/*編集・削除ボタン*/
.delete_edit_button{
border: 1px solid #447314;
background: #6aa436;
background-image: -ms-linear-gradient(top, #8dc059 0%, #6aa436 100%);
border-radius: 4px;
box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
text-shadow: #addc7e 0 1px 0;
font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
color: white;
font-weight: normal;
font-size: 100%;
text-decoration: none;
vertical-align: middle;
height: 25px;
}
/*-----------------------------------------------------------
 * map用のstyle
 * ----------------------------------------------------------*/
.mapField{
	margin-top: 30px;
	float: left;
	width : 100%;
	height: 90%;
}
.controls{
	margin-top: 16px;
	border: 1px solid transparent;
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 32px;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#mapTextField{
	background-color: #fff;
	padding: 0 11px 0 13px;
	width: 400px;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	text-overflow: ellipsis;
}

#mapTextField:focus{
	border-color: #4d90fe;
	margin-left: -1px;
	padding-left: 14px;  /* Regular padding-left + 1. */
	width: 401px;
}

#mapsettingbutton{
	height:40px;
	width:120px;
	margin-left:10px;
	font-size: 1.5em;
}

#target{
	padding: 15px;
	border: 1px solid #CCCCCC;
	margin: 0;
}


#timelineBox{
	width : 40%;
	height: 100%;
	float: right;
}

#map{
	width : 60%;
	height: 100%;
	float: left;
}

/* 地図指定のタイムライン
   スクロールバーをつけて表示
 */
#scroll {
	height: 100%;
	overflow: scroll; /* 中身が大きかったらスクロールバー */
}
#scroll::-webkit-scrollbar {
	overflow: hidden;
	width: 5px;
}
#scroll::-webkit-scrollbar-thumb {
	overflow: hidden;
	border-radius: 3px;
	background: #777;
}

/* タイムラインの写真 */
.photoImg {
	width : 100%;
	height: 100%;
	cursor: pointer;
}

.Icon {
	border: 1px black solid;
}

.Icon:hover {
	border-color:skyblue;
}

/*フォロー・フォロワーのボックス*/
.followbox{
	font-size:1em;
	display:block;
	width:130px;
	text-align:center;
	text-decoration:none;
	color: black;
}

.followbox:hover{
	font-weight:bold;
	color:DarkGray;
}

h3{
    padding: 0.8em;
    border-left: 7px solid gray;
    border-bottom: 1px inset gray;
    font-size: 1.143em;
    font-weight: bold;
    margin: 0;
    display:block;
	width:250px;
}
.postline{
	margin-bottom: 20px;
	border-bottom: 1px dashed gray;
}

/*ボタン*/
   .submit-button-follow {
   border: 1px solid #447314;
   background: #6aa436;
   background-image: -ms-linear-gradient(top, #8dc059 0%, #6aa436 100%);
   border-radius: 4px;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #addc7e 0 1px 0;
   font-family:'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
   color: #fff;
   padding: 8.5px 18px;
   font-size: 100%;
   text-decoration: none;
   vertical-align: middle;
   width:95%;
   margin-right:20px;
  
   }
   /*ボタンにマウスが乗ったとき*/
.submit-button-follow:hover {
   border: 1px solid #447314;
   text-shadow: #31540c 0 1px 0;
   background: #6aa436;
   background-image: -ms-linear-gradient(top, #8dc059 0%, #6aa436 100%);
   color: #31540c;
   }
   
/*ボタンにフォーカスしたとき*/
.submit-button-follow:active {
   text-shadow: #31540c 0 1px 0;
   border: 1px solid #447314;
   background: #8dc059;
   background-image: -ms-linear-gradient(top, #6aa436 0%, #8dc059 100%);
   color: #fff;
   }

/* ユーザープロフィール おすすめタグ */
.profileDiv {
	background-color: #ffffff;
	height: 100%;
	width: 292px;
	border: solid 1px #aaaaaa;
	margin: 0 20px 20px 0;
	box-sizing: border-box;
	box-shadow: 1px 1px 3px #aaaaaa;
	border-radius: 20px;
	overflow: hidden;
}

/* プロフィール上 */
#profileDivTop {
	padding: 30px 30px 0 30px;
}

/* プロフィール下 */
#profileDivBottom {
	background-image: url("/teamb/img/form/grad.png");
	background-size: 100% 100%;
	height: 50px;
	text-align: center;
	font-weight: bold;
}

/* ユーザーアイコン */
#profileUserIcon {
	float: left;
	margin-right: 5px;
}

/* ユーザー名 */
#profileDispName {
	margin-top: 10px;
}

/* ユーザーID */
#profileUserId {
	color: gray;
	font-size: 0.8em;
}

/* 紹介文 */
#profileProfile {
	clear: both;
}

/* フォロー */
#profileFollow {
	float: left;
	width: 49%;
	height: 100%;
	border-right: 1px solid #a6a6a6;
}

/* フォロワー */
#profileFollower {
	float: right;
	width: 50%;
	height: 100%;
}

/* フォロー フォロワーのリンク */
.followLink {
	display: block;
	height: 100%;
	text-decoration: none;
	color: #000;
	transition-duration: 300ms;
	padding-top: 3px;
}
.followLink:hover {
	color: #999;
}
