@charset "UTF-8";

/* アカウント設定
   
   各設定項目を、奇数行(.oddRow)と偶数行(.evenRow)で色分け
 */

html {
	height: 100%;
}

body {
	font-family: 'メイリオ', 'Hiragino Kaku Gothic Pro', sans-serif;
	background-color: #edede3;/*ページ背景*/
	margin: 0;
	height: 100%;
}

/*【ページ上の罫線】*/
article	{
	background-color: #ffffff;
	width: 90%;/*ページ罫線の幅*/
	margin-left: auto;
	margin-right: auto;
	border: solid 1px #aaaaaa;
	padding: 5%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-shadow: 1px 1px 3px #aaaaaa;
	box-shadow: 1px 1px 3px #aaaaaa;
	border-radius: 20px;
	overflow: hidden;
	font-size: 0.8em;
}

/* アイコンのプレビュー */
#preview {
	height: 5em;
}

/*【アイコン】*/
img {
	height: 100%;
	width: auto;
	max-width: 100%;
	border: 1px solid;
}

/* 奇数行 */
.oddRow {
	background-color: #ddd;
	overflow: hidden;
}

/* 偶数行 */
.evenRow {
	border: solid 1px #ddd;
	overflow: hidden;
}

/* 設定変更ボタン */
.setting-button {
border: 1px solid #447314;
background: #6aa436;
background-image: -ms-linear-gradient(top, #8dc059 0%, #6aa436 100%);
border-radius: 4px;
box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
text-shadow: #addc7e 0 1px 0;
font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
color: white;
font-weight: normal;
font-size: 100%;
text-decoration: none;
vertical-align: middle;
width: 100px;
height: 30px;
margin-top: 10px;
}
/* エラーメッセージ */
.errorMsg {
	font-size: 1.4em;
	color: red;
}

/*-----------------------------------------------------------
 * map用のstyle
 * ----------------------------------------------------------*/
.mapField{
	width : 100%;
}
.controls{
	margin: 1em 0 0 1em;
	border: 1px solid transparent;
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 2em;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#mapTextField{
	background-color: #fff;
	padding-left: 0.5em;
	width: 80%;
	font-family: Roboto;
	font-size: 1.4em;
	font-weight: 300;
	text-overflow: ellipsis;
}

#mapTextField:focus{
	border-color: #4d90fe;
	margin-left: -1px;
}

#map{
	width : 100%;
	height: 15em;
}
