@charset "UTF-8";

/* 投稿詳細
   
   タイムラインの画像(class="photoImg")をクリックしたときに、
   detail.js の処理によって表示する
   
   投稿詳細を目立たせるために、半透明の黒い画面(#cover)を全体にかぶせる
   その黒い画面は z-index の値を 1 にしている
   その上に投稿詳細(#postDetail)をかぶせる
   投稿詳細は z-index が 2 なので、黒い画面よりは手前に表示される
   
   黒い画面は、幅も高さも 100% にして、スクロールしてもついてくる
   transition でゆっくり出たり消えたりする
   
   投稿詳細は、タイムラインの画像をクリックしたときの画面のスクロール位置に合わせて
   表示位置を変えるように、detail.js の処理で margin-top の値を変えている
   
   メインの写真とサブの写真があり、
   サブの写真をクリックしたときに detail.js の処理で入れ替える
   この時に transition でゆっくり入れ替えるようにしている
 */

/* 投稿詳細表示時に背景を暗くする */
#cover {
	position: fixed !important;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.6;
	z-index: 1;
	visibility: hidden;
	transition: opacity 200ms linear 0, visibility 200ms linear 0;
}

/* 投稿詳細下地 */
#postDetail {
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 2;
	visibility: hidden;
}

/* 投稿詳細 */
#articleDetail {
	height: 35em;
	width: 100%;
	margin-top: 20px;
	text-align: left;
	font-size: 0.8em;
}

/* 投稿詳細を閉じるボタン */
#closeDetail {
	width: 2em;
	height: 2em;
	background-color: #777;
	color: white;
	float: right;
	text-align: center;
	line-height: 2em;
}

/* 投稿写真 投稿詳細表示 */
#mainImgDiv {
	clear: both;
	width: 100%;
	height: 10em;
}

/* メインの投稿写真 */
#detailPhoto {
	width: 100%;
	height: 100%;
	text-align: center;
}
#photo0 {
	width: auto;
	height: 100%;
	transition: opacity 100ms linear 0;
}

/* 地図 */
#detailMap {
	width: 100%;
	height: 100%;
}

/* メイン以外の投稿写真のdiv */
#subImgDiv {
	text-align: center;
}

/* メイン以外の投稿写真 */
.subImg {
	width: 22%;
	height: 3em;
	cursor: pointer;
	display: none;
}

/* Good_Bad */
.Good_Bad {
	text-align: right;
	height: 2em;
}

#inputComment {
	height: 2em;
	width: 100%;
	box-sizing: border-box;
}

/* ポップアップの地図ボタン */
#changeMapButton {
	float: left;
	margin: auto;
	height: 100%;
	width: 5em;
	border: 1px solid #447314;
	background: #6aa436;
	box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
	text-shadow: #addc7e 0 1px 0;
	font-family:#000000, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
	color: #31540c;
	text-decoration: none;
	vertical-align: middle;
}

/* コメントdiv */
#comment{
	height: 5em;
	overflow: scroll;
}

/* コメントの固まり */
.comSet {
	clear: both;
	border: solid 1px #ccc;
	margin: 1px;
	padding: 1px;
}
.comSet:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
}

/* コメント */
.msgCom {
	float: left;
	margin-left: 2%;
}

#commentButton {
	float: left;
	margin: auto;
	height: 2em;
	width: 100%;
	border: 1px solid #447314;
	background: #6aa436;
	box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
	text-shadow: #addc7e 0 1px 0;
	font-family:#000000, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
	color: #31540c;
	text-decoration: none;
	vertical-align: middle;
}

/* エラーメッセージ */
.errorMsg {
	color: red;
}

/* 写真拡大表示画面を閉じるボタン */
#closePicDetail {
	width: 2em;
	height: 2em;
	background-color: #777;
	color: white;
	float: right;
	text-align: center;
	line-height: 2em;
}

