@charset "UTF-8";

/* 投稿編集・削除
   
   写真は、1枚目のメインだけ大きく表示
 */

/* 写真 */
img {
	width: 20%;
	height: 2em;
	border: 1px solid;
}

/* 1枚目の写真 */
img.mainImg {
	width: 80%;
	height: 6em;
	border: 1px solid;
}

/* 編集ボタン */
#editButton {
   border: 1px solid #447314;
   background: #6aa436;
   background-image: -ms-linear-gradient(top, #8dc059 0%, #6aa436 100%);
   border-radius: 4px;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #addc7e 0 1px 0;
   font-family:'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
   color: white;
   font-weight: normal;
   font-size: 100%;
   text-decoration: none;
   vertical-align: middle;
	width: 100px;/*ボタンの幅*/
	height: 30px;/*ボタンの縦*/
	margin-top: 10px;
}

/* 削除ボタン */
#deleteButton {
border: 1px solid #447314;
background: #6aa436;
background-color: #E72121;
border-radius: 4px;
box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
text-shadow: #addc7e 0 1px 0;
font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
color: white;
font-weight: normal;
font-size: 100%;
text-decoration: none;
vertical-align: middle;
width: 100px;
height: 30px;
/* margin-left: 610px; */
margin-top: 10px;
}

#editMapTextField{
	background-color: #fff;
	padding-left: 0.5em;
	width: 80%;
	font-family: Roboto;
	font-size: 1.4em;
	font-weight: 300;
	text-overflow: ellipsis;
}

#editMapTextField:focus{
	border-color: #4d90fe;
	margin-left: -1px;
}

#editMap{
	width : 100%;
	height: 15em;
}
