@charset "UTF-8";

/* フォロー
   
   承認ボタン(.okBtn)を押すと合体承認ボタン(.okBigBtn)、
   拒否ボタン(.ngBtn)を押すと合体拒否ボタン(.ngBigBtn)になる
 */

/*【ユーザーアイコン】*/
figure.userSearch {
	width: 25%;
	height: 6em;
	margin: 0;
	float: left;
}

/*【ユーザーアイコンのサイズ】*/
figure.userSearch img{
	width: 100%;
	height: auto;
	max-height: 100%;
	border: solid 1px;
}

/* ユーザー */
.userDiv {
	clear: left;
	font-size: 0.7em;
}

/* ユーザーID */
.user-id {
	float: left;
	margin-left: 2%;
}
/* ユーザー名 */
.user-name{
	float: left;
	margin-left: 2%;
}

/* 紹介文 */
.profile {
	float: left;
	margin-left: 2%;
	max-width: 70%;
}

/* 承認ボタン */
.okBtn {
	clear: left;
	float: left;
	width: 50%;
	margin-bottom: 20px;
	font-size: 3em;
}

/* 拒否ボタン */
.ngBtn {
	float: left;
	width: 50%;
	margin-bottom: 20px;
	font-size: 3em;
	color: red;
}

/* 合体承認ボタン */
.okBigBtn {
	clear: left;
	float: left;
	width: 100%;
	margin-bottom: 20px;
	font-size: 3em;
}

/* 合体拒否ボタン */
.ngBigBtn {
	clear: left;
	float: left;
	width: 100%;
	margin-bottom: 20px;
	font-size: 3em;
	color: red;
}
