@charset "UTF-8";

/* ログイン画面
   
   最初はログインのフォーム(#loginDiv)を表示している
   新規登録のフォーム(#registerDiv)は left の値を 100% にして
   画面の右にはみ出させて、 visibility を hidden にして存在も消している
   
   変更ボタン(#changeButton)を押すと login.js の change() が呼び出され、
   ログインと新規登録の left と visibility の値を変えて左右に動かす
 */

/* ページ全体 */
html {
	height: 100%;
}
body {
	font-family:'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
	height: 100%;
	margin: 0px;
}

/* 画像 */
img {
	height: 100%;
	width: auto;
	max-width: 100%;
}

/* 上部 */
.topDiv {
	height: 20%;
	overflow: hidden;
}

/* 中央部 */
#mainDiv {
	height: 65%;
	background-color: #437;
	background-image: url("/teamb/img/login/background.jpg");
	background-size: 100% 100%;
	overflow: hidden;
	position: relative;
}

/* 下部 */
.bottomDiv {
	height: 15%;
	overflow: hidden;
}

/* PC版へ */
#pc {
	height: 25%;
	overflow: hidden;
}

/* ロゴ */
#icon {
	height: 50%;
	overflow: hidden;
	text-align: center;
}

/* エラーメッセージ */
.msg {
	text-align: center;
	color: yellow;
	height: 100%;
	overflow-y: scroll;
}

/* ログインのdiv */
#loginDiv {
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0%;
	visibility: visible;
	transition: left 400ms linear 0, visibility 400ms linear 0;
}

/* 登録のdiv */
#registerDiv {
	height: 100%;
	width: 100%;
	position: absolute;
	left: 100%;
	visibility: hidden;
	transition: left 400ms linear 0, visibility 400ms linear 0;
}

/* ようこそ、Pictshareへ */
#welcome {
	height: 30%;
	overflow: hidden;
	padding-left: 5%;
	font-size: 2em;
	color: white;
}

/* ログインフォームのdiv */
#loginFormDiv {
	height: 60%;
	overflow: hidden;
	text-align: center;
}

/* 登録フォームのdiv */
#registerFormDiv {
	height: 90%;
	overflow: hidden;
	text-align: center;
}

/* 登録フォームの上の間隔 */
.registerTopDiv {
	height: 5%;
}

/* フォーム背景の枠 */
.box {
	margin: 0px 5%;
	padding: 0px 5%;
	background-color: rgba(0,0,0,0.55);
	border-radius: 10px;
}

/*入力フォーム*/
.form-field {
	background: #FFFFFF;
	border-radius: 4px;
	color: #000000;
	box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
	padding:6px;
	margin-bottom:10px;
	font-size: 0.7em;
}

/* 送信ボタン */
.submit-button {
	border: 1px solid #447314;
	background: #6aa436;
	border-radius: 4px;
	box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
	text-shadow: #addc7e 0 1px 0;
	font-family:'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
	color: #31540c;
	padding: 0.4em 1em;
	font-size: 100%;
	text-decoration: none;
	vertical-align: middle;
}

/* 変更ボタン */
#changeButton {
	width: 100%;
	height: 100%;
	border: 1px solid #447314;
	background: #6aa436;
	box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
	text-shadow: #addc7e 0 1px 0;
	font-family:'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
	color: #31540c;
	font-size: 200%;
	text-decoration: none;
	vertical-align: middle;
}
