@charset "UTF-8";

/* 友達閲覧画面
   
   リロード(#reloadDiv)は visibility を hidden にしておく
   リロードできるときに visible にして表示する
 */

html {
	height: 100%;
}

/*【HTMLタグ全体のレイアウト】*/
body {
	font-family: 'メイリオ', 'Hiragino Kaku Gothic Pro', sans-serif;
	background-color: #edede3;/*ページ背景*/
	margin: 0;
	height: 100%;
}

/* 画像 */
img {
	height: 100%;
	width: auto;
	max-width: 100%;
}

/* 上部 */
#topDiv {
	height: 5%;
}

/* メッセージ */
#message {
	text-align: center;
	height: auto;
	overflow-y: scroll;
}

/*【ページ上の罫線】*/
article	{
	background-color: #ffffff;
	width: 90%; /*ページ罫線の幅*/
	margin-left: auto;
	margin-right: auto;
	border: solid 1px #aaaaaa;
	padding: 5%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-shadow: 1px 1px 3px #aaaaaa;
	box-shadow: 1px 1px 3px #aaaaaa;
	border-radius: 20px;
	overflow: hidden
}

/* タイムラインの上 */
#timelineTopDiv {
	clear: both;
	height: 0.5em;
}

/* さらに読み込む */
#reloadDiv {
	text-align: center;
	background-color: #bbb;
	visibility: hidden;
}
