@charset "UTF-8";

/*-----------------------------------------------------------
 * 画面用のstyle
 * ----------------------------------------------------------*/
html {
	height: 100%;
}

body {
	font-family: 'メイリオ', 'Hiragino Kaku Gothic Pro', sans-serif;
	background-color: #edede3;/*ページ背景*/
	margin: 0;
	height: 100%;
}

/* 評価ボタンとコメントボタン */
.evaluateDiv {
	clear: both;
	width: 16em;
	height: 1.6em;
	cursor: pointer;
}

/* 送信ボタン */
.submit-button {
	width: 100%;
	height: 100%;
	border: 1px solid #447314;
	background: #6aa436;
	box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
	text-shadow: #addc7e 0 1px 0;
	font-family:'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
	color: #31540c;
	font-size: 200%;
	text-decoration: none;
	vertical-align: middle;
	border-radius: 0;
	margin: 0;
}

/*-----------------------------------------------------------
 * map用のstyle
 * ----------------------------------------------------------*/
.mapField{
	width: 100%;
}
.controls{
	margin-top: 16px;
	border: 1px solid transparent;
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 32px;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#mapTextField{
	background-color: #fff;
	padding: 0 11px 0 13px;
	width: 400px;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	text-overflow: ellipsis;
}

#mapTextField:focus{
	border-color: #4d90fe;
	margin-left: -1px;
	padding-left: 14px;  /* Regular padding-left + 1. */
	width: 401px;
}

#map{
	width : 100%;
	height: 83%;
}
