@charset "UTF-8";

/* メニュー(ヘッダ)
   
   画面の上部に固定している
   半透明なので、重なった時に上になるように、
   z-index の数値を高くしている
 */

/* メニュー */
#menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 9%;
	background-color: black;
	opacity: 0.8;
	z-index: 6;
}
#menu img {
	width: 100%;
	height: 100%;
	border: none;
}

/*【ホームボタン】*/
#homeButton {
	left: 0.1%;
}

/*【投稿ボタン】*/
#postButton {
	left: 14.35%;
}

/*【タイムラインボタン】*/
#timelineButton {
	left: 28.6%;
}

/*【検索ボタン】*/
#searchButton {
	left: 42.85%;
}

/*【ランキングボタン】*/
#rankingButton {
	left: 57.1%;
}

/*【アカウントボタン】*/
#accountButton {
	left: 71.35%;
}

/*【設定ボタン】*/
#settingButton {
	left: 85.6%;
}

/* メニューのボタン */
.menuButton {
	position: absolute;
	width: 14.25%;
	height: 100%;
	background-size: 100% 100%;
}

/* メニューの下の空白 */
#menuBottom {
	height: 10%;
}

/* ヘッダダイアログ */
#headerDialog {
	position: fixed !important;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 5;
	visibility: hidden;
	transition: visibility 200ms linear 0;
}
#headerDialogContent {
	position: fixed !important;
	top: 25%;
	left: 25%;
	width: 50%;
	height: 50%;
	background-image: url("/teamb/img/header/dialogblack.png");
	background-size: 100% 100%;
	opacity: 0;
	transition: opacity 200ms linear 0;
}

/* ヘッダダイアログのボタン */
.headerDialogButton {
	position: absolute;
	top: 5%;
	width: 40%;
	height: 80%;
	background-size: 100% 200%;
	cursor: pointer;
	visibility: hidden;
	opacity: 0;
	transition: visibility 200ms linear 0, opacity 200ms linear 0;
}
.headerDialogButtonLeft {
	left: 5%;
}
.headerDialogButtonRight {
	right: 5%;
}

/*【友達閲覧ボタン】*/
#friendButton {
	background-image: url("/teamb/img/header/friend.png");
}

/*【地図指定ボタン】*/
#mapButton {
	background-image: url("/teamb/img/header/map.png");
}

/*【アカウント設定ボタン】*/
#accountSettingButton {
	background-image: url("/teamb/img/header/accountsetting.png");
}

/*【ログアウトボタン】*/
#logoutButton {
	background-image: url("/teamb/img/header/logout.png");
}

/*--------------------------------------
 * フッターの検索バーのスタイル
 * -------------------------------------*/

#footerSearch{
	float: right;
}
