@charset "UTF-8";

/* 写真投稿
   
   写真選択ボタンとプレビューのまとまり(.picSet)は、
   最初は 1つだけ表示して、残りの 4つは非表示にするため
   display を none にしている
   post.js の処理で display を block にして表示する
 */

/* 詳細時に背景を暗くする */
#postCover {
	position: fixed !important;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.6;
	z-index: 3;
	visibility: hidden;
	transition: opacity 200ms linear 0, visibility 200ms linear 0;
}

/* 写真投稿画面 */
#postDialog {
	position: absolute;
	top: 0;
	width: 90%;
	z-index: 4;
	visibility: hidden;
	left: 5%;
}

/* 写真選択 */
#postDialogFileSelect {
	position: absolute;
	width: 100%;
	background-color: white;
	padding: 1px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow: scroll;
}
#postDialogFileSelect::-webkit-scrollbar {
	overflow: hidden;
	width: 5px;
}
#postDialogFileSelect::-webkit-scrollbar-thumb {
	overflow: hidden;
	border-radius: 3px;
	background: #777;
}
#postDialogFileSelect::-webkit-scrollbar:horizontal {
	height: 1px;
}

/* 地図選択 */
#postDialogMapSelect {
	position: absolute;
	width: 100%;
	background-color: white;
	padding: 1px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow: scroll;
}
#postDialogMapSelect::-webkit-scrollbar {
	overflow: hidden;
	width: 5px;
}
#postDialogMapSelect::-webkit-scrollbar-thumb {
	overflow: hidden;
	border-radius: 3px;
	background: #777;
}
#postDialogMapSelect::-webkit-scrollbar:horizontal {
	height: 1px;
}

/* 写真投稿 */
.picSet {
	overflow: hidden;
	clear: left;
	display: none;
}

/* 写真のプレビュー */
.preview {
	float: left;
}

/* 投稿ボタン */
.submit-button {
	border: 1px solid #447314;
	background: #6aa436;
	background-image: -ms-linear-gradient(top, #8dc059 0%, #6aa436 100%);
	border-radius: 4px;
	box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
	text-shadow: #addc7e 0 1px 0;
	font-family:'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
	color: white;
	font-weight: normal;
	font-size: 100%;
	text-decoration: none;
	vertical-align: middle;
	width: 5em;/*ボタンの幅*/
	height: 1.8em;/*ボタンの縦*/
	margin: 0.3em 1em;
	float: right;
}
/* 戻るボタン */
.back-button {
	border: 1px solid #447314;
	background: #6aa436;
	background-image: -ms-linear-gradient(top, #8dc059 0%, #6aa436 100%);
	border-radius: 4px;
	box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
	text-shadow: #addc7e 0 1px 0;
	font-family:'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
	color: white;
	font-weight: normal;
	font-size: 100%;
	text-decoration: none;
	vertical-align: middle;
	width: 5em;/*ボタンの幅*/
	height: 1.8em;/*ボタンの縦*/
	margin: 0.3em 1em;
}
/* 次へのボタン */
.next-button {
	border: 1px solid #447314;
	background: #6aa436;
	background-image: -ms-linear-gradient(top, #8dc059 0%, #6aa436 100%);
	border-radius: 4px;
	box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
	text-shadow: #addc7e 0 1px 0;
	font-family:'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
	color: white;
	font-weight: normal;
	font-size: 100%;
	text-decoration: none;
	vertical-align: middle;
	width: 5em;/*ボタンの幅*/
	height: 1.8em;/*ボタンの縦*/
	margin: 0.3em 1em;
}
/* エラーメッセージ */
.errorMsg {
	color: red;
}

/*-----------------------------------------------------------
 * map用のstyle 投稿用
 * ----------------------------------------------------------*/
#postMapField {
	width: 100%;
	height: 80%;
}
#postMapTextField {
	background-color: #fff;
	padding-left: 0.5em;
	width: 80%;
	font-family: Roboto;
	font-size: 1.4em;
	font-weight: 300;
	text-overflow: ellipsis;
}

#postMapTextField:focus {
	border-color: #4d90fe;
	margin-left: -1px;
}

#postMap {
	width : 100%;
	height: 15em;
}
