@charset "UTF-8";

/* プロフィールとおすすめタグ
   
   height を決めて、縦にはみ出た部分はスクロールさせる
 */

figure.photo-left {
	margin: 0;
}

/* アイコン */
#icon {
	width: 100%;
	float: left;
}
#icon img {
	width: 100%;
	height: auto;
	max-height: 100%;
	border: solid 1px;
}

/* ユーザー名 フォロー フォロワー */
#nameFollow {
	width: 100%;
	margin-left: 3%;
	font-size: 0.8em;
	height: 5em;
	float: left;
	overflow-y: scroll;
}

/* おすすめタグ */
#recommendedTag {
	width: 100%;
	margin-left: 3%;
	font-size: 0.6em;
	float: left;
	overflow-y: scroll;
}
.rTag {
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}

h3{
    padding: 0.8em;
    border-left: 7px solid gray;
    border-bottom: 1px inset gray;
    font-size: 1.143em;
    font-weight: bold;
    marge-right:20px;
    display:block;
	width:80%;
}
