@charset "UTF-8";

/* ランキング */

html {
	height: 100%;
}

/*【HTMLタグ全体のレイアウト】*/
body {
	font-family: 'メイリオ', 'Hiragino Kaku Gothic Pro', sans-serif;
	background-color: #edede3;/*ページ背景*/
	margin: 0;
	height: 100%;
}

/*【ページ上の罫線】*/
article	{
	background-color: #ffffff;
	width: 90%;/*ページ罫線の幅*/
	margin-left: auto;
	margin-right: auto;
	border: solid 1px #aaaaaa;
	padding: 5%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-shadow: 1px 1px 3px #aaaaaa;
	box-shadow: 1px 1px 3px #aaaaaa;
	border-radius: 20px;
	overflow: hidden
}

/*【アイコン・投稿・写真の罫線】*/
.keisen{
	background-color: #ffffff;
	height: 100%;
	width: 80%;
	border: solid 1px #aaaaaa;
	padding: 5%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-shadow: 1px 1px 3px #aaaaaa;
	box-shadow: 1px 1px 3px #aaaaaa;
	border-radius: 20px;
	float: left;
	overflow: hidden
}

/*  ランキングのタイトル*/
#rankTitle {
	text-align: center;
}

/* 前の10位 */
.prev10 {
	clear: both;
	float: left;
	font-size: 0.8em;
}

/* 次の10位 */
.next10 {
	float: right;
	font-size: 0.8em;
}

/* 奇数行 */
.oddRow {
	background-color: #ddd;
	overflow: hidden;
	clear: both;
}

/* 偶数行 */
.evenRow {
	border: solid 1px #ddd;
	overflow: hidden;
	clear: both;
}

/* 順位 */
.rankNum {
	clear: left;
	float: left;
	width: 20%;
	padding: 1%;
}

/* 順位の右のユーザー */
.rankUser {
	float: left;
	width: 70%;
	font-size: 0.7em;
}

/* 位 */
.rank {
	font-size: 0.7em;
}

/* pt */
.pt {
	font-size: 0.4em;
}

/*【ユーザーアイコン】*/
figure.user_photo_left {
	width: 10%;
	margin: 0;
	float: left;
}

/*【ユーザーアイコンのサイズ】*/
figure.user_photo_left img{
	width: 100%;
	height: auto;
	max-height: 100%;
	border: solid 1px;
}

/*【文章のユーザー名】*/
.user-name{
	float: left;
	margin-left: 2%;
}

/*【投稿日時】*/
.postDate{
	clear: left;
}

/*投稿写真*/
.postphoto{
	width: 100%;
	height: 7em;
	clear: both;
	text-align: center;
}

/* タイムラインの写真 */
.photoImg {
	cursor: pointer;
	height: 100%;
	width: auto;
	max-width: 100%;
}

/* Good */
.good {
	margin: 0px 1%;
	color: blue;
}
/* Bad */
.bad {
	margin: 0px 1%;
	color: red;
}

/* 過去ランキング選択 */
.pastSelect {
	float: left;
	width: 20%;
	text-align: center;
}
