@charset "UTF-8";

/* 検索
   
   ユーザー検索結果のみ
   タグ検索結果は timeline.css のものを利用
 */

/*【ユーザーアイコン】*/
figure.userSearch {
	width: 25%;
	height: 6em;
	margin: 0;
	float: left;
}

/*【ユーザーアイコンのサイズ】*/
figure.userSearch img{
	width: 100%;
	height: auto;
	max-height: 100%;
	border: solid 1px;
}

/* ユーザー */
.userDiv {
	clear: left;
	font-size: 0.7em;
}

/* ユーザーID */
.user-id {
	float: left;
	margin-left: 2%;
}

/* 紹介文 */
.profile {
	float: left;
	margin-left: 2%;
	max-width: 70%;
}
.search-button {
border: 1px solid #447314;
background: #6aa436;
background-image: -ms-linear-gradient(top, #8dc059 0%, #6aa436 100%);
border-radius: 4px;
box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
text-shadow: #addc7e 0 1px 0;
font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
color: white;
font-weight: normal;
font-size: 100%;
text-decoration: none;
vertical-align: middle;
width: 70px;
height: 25px;
}
