@charset "UTF-8";

/* タイムライン */

#posts {
	clear: both;
	font-size: 0.7em;
}

/*【ユーザーアイコン】*/
figure.user_photo_left {
	width: 10%;
	height: 3em;
	margin: 0;
	float: left;
	clear: left;
}

/*【ユーザーアイコンのサイズ】*/
figure.user_photo_left img{
	width: 100%;
	height: auto;
	max-height: 100%;
	border: solid 1px;
}

/*【文章のユーザー名】*/
.user-name{
	float: left;
	margin-left: 2%;
}

/*【投稿日時】*/
.postDate{
	float: right;
}

/*【文章】*/
.document{
	clear: right;
	float: left;
	margin-left: 2%;
}

/*投稿写真*/
.postphoto{
	clear: both;
	width: 100%;
	height: 7em;
	text-align: center;
}

/* タイムラインの写真 */
.photoImg {
	cursor: pointer;
}

/* Good_Bad_Comment */
.Good_Bad_Comment {
	text-align: right;
	margin: 0px;
}

/* Good */
.good {
	margin: 0px 1%;
	color: blue;
}
/* Bad */
.bad {
	margin: 0px 1%;
	color: red;
}

/* 評価ボタンとコメントボタン */
.evaluateDiv {
	clear: both;
	width: 22em;
	height: 2.2em;
	cursor: pointer;
}

/* Good ボタン */
.goodButton {
	float: left;
	width: 33%;
	height: 100%;
	background-image: url("/teamb/img/form/good.png");
	background-size: 100% 200%;
}

/* Bad ボタン */
.badButton {
	float: left;
	width: 33%;
	height: 100%;
	background-image: url("/teamb/img/form/bad.png");
	background-size: 100% 200%;
}

/* Good / Bad ボタンが押されているとき */
.isEvaluated {
	background-position:left bottom;
}

/* コメントボタン */
.commentButton {
	float: left;
	width: 33%;
	height: 100%;
	background-image: url("/teamb/img/form/comment.png");
	background-size: 100% 100%;
}
